[submodule "fsrs-rs"]
	path = fsrs-rs
	url = https://github.com/open-spaced-repetition/fsrs-rs.git
	branch = fsrs-browser
[submodule "burn"]
	path = burn
	url = https://github.com/open-spaced-repetition/burn.git
